.example-container {
    display: flex;
    flex-direction: column;
    max-height: 85vh;
    min-width: 300px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .table tr.active td {
    background-color: #123456 !important;
    color: white;
  }
  .edit{
    background-color: #e9ecef;
    border-color: #dee2e6;
    padding: 30px;
    border-radius: 2px;
  }
  .filterInput {
    margin-left: 5px; 
    padding-right: 20px;
    margin-right: 20px;
    display: inline;
  }

  .typeShort{
 
    width: 200px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  #catFilter{
    display: inline;
    width: 200px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  h3 {
    font-size: inherit;
    font-weight: bold;
    display: inline;
    margin-right: 20px;
  }

  .filter{
    background-color: #e9ecef;
    border-color: #dee2e6;
    padding-left: 20px;
    padding-top: 10px;
  }

  .width{
    min-width: 80px;
  }

  .logoutbtn{
    float: right;
    margin-top: 8px;
    margin-right: 20px;
    padding: 0 6px 0 6px;
    /* margin: 6px 8px 6px 8px; */
    /* min-width: 88px; */
    border-radius: 3px;
    /* font-size: 14px; */
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
    padding: 10px;
    background-color: rgba(158, 158, 158, 0.2); 


  }
  .logoutbtn:not([disabled]):hover {
    background-color: rgba(250, 151, 66); 

  }

  .exportbtn{
    margin-bottom: 10px;
  }