.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .table tr.active td {
    background-color: #123456 !important;
    color: white;
  }
  .edit{
    background-color: #e9ecef;
    border-color: #dee2e6;
    padding: 30px;
    border-radius: 2px;
  }
  .filterInput {
    padding-right: 20px;
    margin-right: 20px;
    display: inline;
  }

  .typeShort{
 
    width: 200px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  #catFilter{
    display: inline;
    width: 200px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  h3 {
    font-size: inherit;
    font-weight: bold;
    display: inline;
    margin-right: 20px;
  }

  .filter{
    background-color: #e9ecef;
    border-color: #dee2e6;
    padding-left: 20px;
    padding-top: 10px;
  }