<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<script src="./jquery-2.2.2.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<title>WiderNet Manager Portal</title>
<!--<link href="Wdefault.css" rel="stylesheet" type="text/css" title="Original">-->

<meta http-equiv="Default-Style" content="CustomA"> <!-- Sets the stylesheet to be used. -->
</head>

<body>


  
<div class="d-flex justify-content-center">
          <table border="0" width="80%" cellpadding="0" style="border-collapse: collapse" id="table4">
	          <tr>
		          <td>
		            <p style="margin-top: 0; margin-bottom: 0">
		              <font size="5" face="Verdana" color="#B7B9BB">
                    <b>
                      <img alt="eGranary Logo" height="38" src="../assets/eGranaryLogo.png" width="42"> eGranary </b></font><b><font size="5" color="#B7B9BB">User Portal</font>
                    </b>
                </p>
		          </td>
	          </tr>
	          <tr>
		          <td colspan="2">
                <hr noshade color="#4D4A43" size="3">
              </td>
	          </tr>
          </table>
                  <!-- end of Top bar with eGranary logo (which is old code) -->
  </div>

  <div class="example-container mat-elevation-z8">

  <table class="table table-hover">
    <thead>
      <td>User</td>
      <td>Category</td>
      <td>Resource</td>
      <td>Resource Type</td>
      <td>Status</td>
      <td>Approve</td>
      <td>Edit</td>
    </thead>
    <tbody>
      <tr *ngFor="let x of result; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
        <td>{{x.User}}</td>
        <td>{{x.Category}}</td>
        <td>{{x.URL}}</td>
        <td>{{x.Type}}</td>
        <td>{{x.LastReviewBy}}</td>
        <td>
            <button type="button" (click)="onSelectApprove(x)"class="glyphicon glyphicon-ok"></button>
        </td>
        <td>
            <button type="button" (click)="onSelectEdit(x)"class="glyphicon glyphicon-edit"></button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="edit"> 
      <p>What needs to be fixed?</p>
      <input type="checkbox" name="Category" value="Category"> Miscategorized<br>
      <input type="checkbox" name="Type" value="Type"> Mistyped<br>
      <form>
          Comments: <input type="text" name="Comments" value=""><br>
          <input type="submit" value="Submit">
          </form>
  </div>
<!-- 
  <div class="well well-lg">
      Selected Row : <strong>{{selectedRow}}</strong>
  </div> -->
 
</div>
</body>
</html>