.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .table tr.active td {
    background-color: #123456 !important;
    color: white;
  }
  .edit{
    background-color: #e9ecef;
    border-color: #dee2e6;
    padding: 30px;
    border-radius: 2px;
  }